<div class='redbox center large'>
	<h1 style="width:180px">Thank you</h1>
	<p>“ONE'S DESTINATION IS NEVER A PLACE, BUT A NEW WAY OF SEEING THINGS."</p>
	<p>– Henry Miller</p>
<!-- 	<div id="progress">
	    <span id="percent"><%= @perc.to_i %>%</span>
	    <div id="bar" style="width: <%=@perc%>%;"></div>
	</div>
	<p style="text-align:center">Raised so far: €<%= @amounts.sum/100 %>.<%= @amounts.sum%100 %> / €<%= @goal/100 %>.<%= @goal%100 %></p> -->
</div>
