<div class="redbox center">
	<h1>New contribution</h1>

	<%= simple_form_for(@donation, html: { class: "form"}) do |f| %>

	  	<%= f.error_notification %>

	  	<%= f.input :name %>
	  	<%= f.input :amount, as: :string %>
	  	<%= f.input :comment, as: :string, input_html: { class: 'commentfield', maxlength: 140 } %>

	  	<div>
			<%= link_to 'Back', root_path, class: "back" %><%= f.button :submit, 'Continue', id: 'submit', class: 'redbutton'%>
		</div>
	<% end %>


</div>
