<!-- <script src="https://checkout.stripe.com/checkout.js"></script> -->

<div class="redbox center">
	<h1 style="width:270px">Payment Method</h1>
	<table>
		<tbody>
			<tr><td class="left">* NAME</td><td class="right"><%= @donation.name %></td></tr>
			<tr><td class="left">* AMOUNT</td><td class="right"><%= @donation.amount/100 %>.<%= (@donation.amount%100-@donation.amount%10)/10 %><%= @donation.amount%10%> €</td></tr>
			<tr style="height:50px"><td class="left">COMMENT</td><td class="right commentfield"><%= @donation.comment %></td></tr>
		</tbody>
	</table>


	<div>
			<br><%= link_to 'Back', edit_donation_path(@donation), class: "back" %>
<!-- 			<button class= "redbutton bank toggle"><%=link_to 'Bank Transfer', bank_path(:id=>@donation.id)%></button> -->
			<span class= "redbuttonspan bank"><%=link_to 'Bank Transfer', bank_path(:id=>@donation.id)%></span>

	</div>


</div>
