<div>
	<%=image_tag 'logo.png', class: "center", style: "width:200px" %>
</div>
<ul class="nav">
	<li><%= link_to 'HOME', root_path %></li>

	<li><%= link_to 'INFORMATION', about_path %></li>
	<li><%= link_to 'SUPPORT', new_donation_path %></li>
	<%if signed_in? && current_admin.id<3%>
		<li><%= link_to 'Index', donations_path %></li>
	<%end%>
</ul>
