<!DOCTYPE html>
<html>
<head>
  <title>MT</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bentham' rel='stylesheet' type='text/css'>
</head>
<body>

<%if signed_in?%>
	<%if current_admin.id<3%>
		<%= link_to 'Index', donations_path %>
	<%end%>
	<%= link_to 'Sign Out', destroy_admin_session_path, method: :delete%>
<%else%>
	<%= link_to 'Admin Sign In', new_admin_session_path %>
<%end%>



<%= render 'layouts/header' %>

<%= yield %>

</body>
</html>
